         /* Eric Mayers Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


          /* My Reset */

*,
*::before,
*::after {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


		   /* Global Style */

		   
h1 {
	font-size:2rem;
}

h2 {
	font-size:1.5rem;
	font-weight:500;
}

p {
	font-size:1.2em;
}

small {
	font-size:.8em;
}

a {
	text-decoration: none;
	font-size:.8rem;
} 


			/* Modular Classes */

			
.container {
	margin: 0 auto;
	padding:2rem;
	max-width:65rem;
}

.pic {
	font-size: 0;
	width: 25rem;
}

.pic-sec img {
	width: 20rem;
}

			   /* Header */

			   
.header {
	color: white;
	background-color: black;
}

.logo,
.nav-bar {
	display: inline-block;
}

.logo {
	width: 82%;
}


li {
	display: inline-block;
	padding: 4px;
	line-height: 2;
}

a {
	color:white;
}

					/* Lorem Section */
					
.intro,
.pic{
	 display: inline-block;
	 width: 50%;
}

.intro {
   vertical-align:top;
}

p {
	padding:2.5rem 3rem 0 0;
	text-align: justify;
}

.lorem-sec {
	background-color:rgb(137, 208, 231);
}

				  /* Pic-Section */
				  
.gallery {
	text-align: center;
	padding:1rem 0 2rem 0;
}

.pic-sec {
	background-color: rgb(49, 200, 250);
}

.pic-sec img {
	display: inline-block;
	margin: 0 auto;
	
}


				 /* Footer */
				 
.footer {
	background-color: black;
	color: white;
	padding:2.5rem;
	text-align: center;
}